*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p, h1, h2, h4 {
    color: white;
}

.container {
    height: 100%;
}


/* 
.hero-image{
 background: url(./images/header.jpg);
 height: 100%;
 width: 100%;
 background-size: cover;
 background-attachment: fixed;
} */

.hero-section {
    height: 25%;
    display: grid;
    grid-template-columns: 80% 20% ;
    grid-template-rows: 1fr 1fr 1fr;
    
}
 .navigation {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1;
    color: wheat;
    
}

.hero-image {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    
}
.logo-text{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    place-items: center;
  
  
    
}
.logo-text h1{
 
    font-size: 2rem;
    font-weight: 900;    
    display: inline-block;
    justify-self: left;
    place-items: left;
}






.profile-section {
    height: 25%;
    width: auto;
    position: relative;
    background: black;
  
}

.profile-image{
    position: relative;
    top: 50%;
    right: 15%
    
}
.slogan{
    position: absolute;
    top: 30%;
     writing-mode: vertical-lr;
   transform: rotate(180deg);
   color: white;
}
.summary-text {
    position: absolute;
    color: white;
    top: 30%;
    left: 60%;
    right:10%
}
.full-text {
    position: absolute;
    color: white;
    top: 50%;
    left: 70%;
    right: 10%;
}

/* .profile-section {
    height: 25%;
    background: black;

    display: grid;
    grid-template-areas: 
    ". slogan image image image summary summary summary"
    ". slogan image image image summary summary summary"
    ". slogan image image image summary summary summary"
    ". slogan image image image . full full"
    ". slogan image image image . full full"
    " . . image image image . full full"
    " . . image image image . full full";
    /* display: grid;
    grid-template-columns: repeat(8,auto);
    grid-template-rows: repeat(5, auto); */
/* }
.profile-image  {

    grid-area: image;
    /* grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    place-items: start; */

}
/* .slogan {
    grid-area: slogan;
    margin-left: 50px;
    /* grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; */
/* 
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    justify-self: end;
    
} */ */
/* .slogan h4{
    color: white;
} */
/* .summary{
    grid-area: summary;
    margin-top: 20px;
    margin-right: 80px
    /* grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3; */
   
    

} */
/* .full-details{
    grid-area: full;
    /* grid-column-start: 7;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3; */
    } */ */ */
     
    .leading-text h4{
        color: black;
        text-align: center;
        height: 5%;
    }


    .gallery{
        display: grid;
        height: 20%

    }
    .gallery-section{
        height: ;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12,1fr);
        grid-gap: 20px;
        

    }
    .item-1{
        grid-column-start: 1;
        grid-column-end:4;
        grid-row-start:1;
        grid-row-end: 12;

    }
    .item-2{
        grid-column-start:4;
        grid-column-end:6; 
        grid-row-start: 1;
        grid-row-end: 7;

    }
    .item-3{
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 8;

    }
    .item-4{
        grid-column-start: 9;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 8;

    }
    .item-5{
        grid-column-start: 12;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 5;

    }
    .item-6{
        grid-column-start:4;
        grid-column-end:6; 
        grid-row-start: 7;
        grid-row-end: 12; 

    }
    .item-7{
        
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 8;
        grid-row-end: 12;
    }
    .item-8{
        grid-column-start: 8;
        grid-column-end:10;
        grid-row-start: 8;
        grid-row-end: 12;
        
    }
    .item-9{
        grid-column-start: 10;
        grid-column-end: 12;
        grid-row-start: 8;
        grid-row-end: 12;
        
    }
    .item-10{
        grid-column-start: 12;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 9;
        
    }
    .item-11{
        grid-column-start: 12;
        grid-column-end: 13;
        grid-row-start: 9;
        grid-row-end: 12;
        
    }

    .footer{
        height: 25%;
        display: grid;
        grid-template-columns: 10px 1fr 1fr 10px;
        grid-template-rows: 10pt 1fr 2fr;
        grid-gap: 50px;
        background-color:#28271f;
    }
    
     
input[type=email],[type=text], textarea {

    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;

  }
 
  

  .text-top {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end: 2;
   place-self: end center;
   margin-left: 10px
   
  }
  .text-top h5{
      text-align: center;
      color: white;
  }
  .details{

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:3;
    grid-row-end: 3;
 place-self: start center;
   


  }

  .form{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start:2;
        grid-row-end: -1;
        justify-self: center;
        
       
        
  }
label {
    color: white;
}